<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Computed Properties con Vue 3 + PicoCSS</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <main class="container" id="app">
    <h1>Ejercicio con <code>computed</code></h1>

    <form>
      <label>
        First Name:
        <input type="text" v-model="firstName" />
      </label>

      <label>
        Last Name:
        <input type="text" v-model="lastName" />
      </label>
    </form>

    <hr />

    <section>
      <h2>Results:</h2>
      <ul>
        <li><strong>Combined text:</strong> {{ fullText }}</li>
        <li><strong>Text length:</strong> </li>
        <li><strong>Even length?:</strong> </li>
        <li><strong>Contains all vowels?:</strong> </li>
      </ul>
    </section>
  </main>

  <script>
    const { createApp, ref, computed } = Vue

    createApp({
      setup() {
        const firstName = ref('')
        const lastName = ref('')

        const fullText = computed(() => `${firstName.value} ${lastName.value}`.trim())

        return {
          firstName,
          lastName,
          fullText
        }
      },
    }).mount('#app')
  </script>
</body>
</html>
